
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('../fonts/montserrat.woff2') format('woff2'), url('../fonts/montserrat.woff') format('woff'), url('../fonts/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: local('Karla'), local('Karla-Regular'), url('../fonts/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body
{
    margin: 0;
}
section {
	height: 100vh; /* высота секции равна высоте области просмотра */
}
/*.rectfirst*/
/*{*/
/*    position: absolute;*/
/*    left: 32.08%;*/
/*    right: 32.08%;*/
/*    top: 0%;*/
/*    bottom: 0%;*/
/*    background: linear-gradient(180deg, rgba(40, 39, 175, 0.5) 0%, rgba(9, 9, 117, 0.5) 100%);*/
/*    background-blend-mode: screen;*/
/*}*/
/*.minirectfirst*/
/*{*/
/*    position: absolute;*/
/*    left: 37.29%;*/
/*    right: 37.22%;*/
/*    top: 7.91%;*/
/*    bottom: 7.91%;*/
/*}*/
.head-firstrow
{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}
.head-secondrow
{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    /*background-color: #252ACF;*/
}
.head-thirdrow
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.head-first
{
    display: flex;
    flex-direction: column;
    background-color: #7F30A1;
}
.head-second
{
    background-color: #EF705D;
}
.head-third
{
    background-color: #00BE75;
}
.head-fourth
{
    background-color: #252ACF;
}
.head-labelfirst
{
    margin-top: 48.56px;
    margin-left: 56px;
}
.head-labelsecond
{
    margin-top: 48.56px;
    margin-left: 15.3px;
    color: #FFFFFF;
}
.head-burgerbutton
{
    margin-left: auto;
    margin-right: 61px;
    align-self: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgba(27, 27, 27, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}
.bar1 {
    margin-top: 18px;
    margin-left: 15px;
}
.bar2 {
    margin-top: 28px;
    margin-left: 15px;
}
.bar3 {
    margin-top: 38px;
    margin-left: 15px;
}
.head-blocktext
{
    margin-left: 10%;
}
.head-blocktext-first
{
    font-family: Lora;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 30px;

/* identical to box height, or 125% */
letter-spacing: 1.07271px;
text-transform: lowercase;

color: #FFFFFF;
}

#carousel {
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}
#carousel div img {
    width: 400px;
    transition: width 1s;
}
#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
    width: 200px;
}
#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
    width: 200px;
}
#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
    width: 300px;
}
#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}
#carousel div.prevLeftSecond img {
    width: 200px;
}
#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
    width: 300px;
}
#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}
#carousel div.nextRightSecond img {
    width: 200px;
}

.head-blocktext-second
{
    font-family:  "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1.07271px;

/* or 125% */
    text-transform: uppercase;

    color: #FFFFFF;
}
.head-blocktext-third
{
    margin-top: 21px;
    font-family: "Karla", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

/* or 139% */
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
}
.head-blocktext-fourth
{
    margin-top: 64px;
    font-family: Lora;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 30px;

/* identical to box height, or 125% */
letter-spacing: 1.07271px;
text-transform: lowercase;

color: #FFFFFF;
}
.head-blocktext-fifth
{
    width: 393px;
    margin-top: 46px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height, or 122% */
    letter-spacing: 6px;
    
    color: #FFFFFF;
}
.blocktext-fifth
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-leftside
{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
.blocktext-leftside-first
 {
     font-family: Lora;
     font-style: italic;
     font-weight: normal;
     font-size: 24px;
     line-height: 30px;

     /* identical to box height, or 125% */
     letter-spacing: 1.07271px;
     text-transform: lowercase;

     color: #FFFFFF;
 }
.blocktext-rightside-first
{
    margin-right: 255px;
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    /* identical to box height, or 125% */
    letter-spacing: 1.07271px;
    text-transform: lowercase;

    color: #FFFFFF;
}
.blocktext-leftside-second
{
    width: 493px;
    margin-top: 46px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height, or 122% */
    letter-spacing: 6px;

    color: #FFFFFF;
}

.head-rightside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head-element
{
    margin-top: -20%;
    margin-left: -30%;
}
.head-rightside-fillprofile
{
    margin-top: -10%;
    font-family: "Karla",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    /* or 156% */

    letter-spacing: 21.2px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.social-item
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #8c44aa;
}
.head-social
{
    margin-top: -10px;
    margin-left: -7%;
    position: absolute;
    display: flex;
    flex-direction: column;
}











.about
{
    background-color: black;
}
.interactive
{
    background-color: orange;
}
.dive
{
    background-color: green;
}
.finaly
{
    background-color: blue;
}