
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('../fonts/montserrat.woff2') format('woff2'), url('../fonts/montserrat.woff') format('woff'), url('../fonts/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Karla';
    src: local('Karla'), local('Karla-Regular'), url('../fonts/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body
{
    margin: 0;
    overflow-x: hidden;
}
section {
	height: 100vh; /* высота секции равна высоте области просмотра */
}
.rectfirst
{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-around;
    left: 32.08%;
    right: 32.08%;
    top: 0%;
    bottom: 0%;
    background-color: #8437ba;
    z-index: 3;
    opacity: .5;
    background-image: url("../img/d49a745ad39c067f58112d446170d9b5.png") ;
    background-size: 400px 1000px;
    background-repeat: no-repeat;
    background-position: 150px 75px;

}
.minirectfirst
{
    border: 30px solid #762ae2;
    position: absolute;
    left: 37.29%;
    right: 37.22%;
    top: 7.91%;
    bottom: 7.91%;
}
.head-firstrow
{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}
.head-secondrow
{
    z-index: 7;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    /*background-color: #252ACF;*/
}
.head-thirdrow
{
    z-index: 7;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.head-first
{
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #7F30A1;
    /*background-image: url("../img/d49a745ad39c067f58112d446170d9b5.png") ;*/
    background-size: 30% 100%;
    background-repeat: no-repeat;
    background-position: 546px 75px;
}
.head-second
{
    background-color: #EF705D;
}
.head-third
{
    background-color: #00BE75;
}
.head-fourth
{
    background-color: #252ACF;
}
.head-labelfirst
{
    margin-top: 48.56px;
    margin-left: 56px;
}
.head-labelsecond
{
    margin-top: 48.56px;
    margin-left: 15.3px;
    color: #FFFFFF;
}
.head-burgerbutton
{
    margin-left: auto;
    margin-right: 61px;
    align-self: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: rgba(27, 27, 27, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.6s;
    cursor: pointer;
}
.head-burgerbutton:hover
{
    opacity: .7;
}
.head-burgerbutton:active
{

}
.head-menu-wrapper
{
    z-index: 7;
    transition: 0.6s;
    right: 0px;
    top: 0px;
    margin-right: 61px;
    display: flex;
    position: fixed;
    flex-direction: row;
    transform: translateX(90%);
}
.corusel-header
{
    font-family: "Karla",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}
.corusel-about
{
    font-family: "Karla",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */


    color: #FFFFFF;
}
.head-corusel-wrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 81px;
    margin-right: -250px;
    transform: translateX(15%);
}
.mini-item
{
    margin-top: 5%;
}
.corusel-link
{
    font-family: "Karla",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height, or 115% */

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.corusel-itemfirst
{
    display: flex;
    flex-direction: column;
}
.corusel-itemsecond
{
    display: flex;
    flex-direction: column;
    transform: translateX(20%);
    opacity: .5;
}
.head-menu
{
    margin-top: 45.57px;
    margin-right: 57px;
    display: flex;
    flex-direction: column;
}
.menu-active
{
    transform: translateX(10%);
}

.menu-item
{
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    text-align: right;
    letter-spacing: 6px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}
.bar1 {
    margin-top: 18px;
    margin-left: 15px;
}
.bar2 {
    margin-top: 28px;
    margin-left: 15px;
}
.bar3 {
    margin-top: 38px;
    margin-left: 15px;
}
.head-blocktext
{
    margin-left: 10%;
}
.head-blocktext-first
{
    font-family: Lora;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 30px;

/* identical to box height, or 125% */
letter-spacing: 1.07271px;
text-transform: lowercase;

color: #FFFFFF;
}

#carousel {
    position: relative;
    height: 400px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}
#carousel div img {
    width: 400px;
    transition: width 1s;
}
#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
    width: 200px;
}
#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
    width: 200px;
}
#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
    width: 300px;
}
#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}
#carousel div.prevLeftSecond img {
    width: 200px;
}
#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
    width: 300px;
}
#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}
#carousel div.nextRightSecond img {
    width: 200px;
}

.head-blocktext-second
{
    z-index: 5;
    font-family:  "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 1.07271px;

/* or 125% */
    text-transform: uppercase;

    color: #FFFFFF;
}
.head-blocktext-third
{
    margin-top: 21px;
    font-family: "Karla", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;

/* or 139% */
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
}
.head-blocktext-fourth
{
    margin-top: 64px;
    font-family: Lora;
font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 30px;

/* identical to box height, or 125% */
letter-spacing: 1.07271px;
text-transform: lowercase;

color: #FFFFFF;
}
.head-blocktext-fifth
{
    width: 393px;
    margin-top: 46px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height, or 122% */
    letter-spacing: 6px;
    
    color: #FFFFFF;
}
.blocktext-fifth
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-leftside
{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
.blocktext-leftside-first
 {
     font-family: Lora;
     font-style: italic;
     font-weight: normal;
     font-size: 24px;
     line-height: 30px;

     /* identical to box height, or 125% */
     letter-spacing: 1.07271px;
     text-transform: lowercase;

     color: #FFFFFF;
 }
.blocktext-rightside-first
{
    margin-right: 255px;
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    /* identical to box height, or 125% */
    letter-spacing: 1.07271px;
    text-transform: lowercase;

    color: #FFFFFF;
}
.blocktext-leftside-second
{
    width: 493px;
    margin-top: 46px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height, or 122% */
    letter-spacing: 6px;

    color: #FFFFFF;
}

.head-rightside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head-element
{
    margin-top: -20%;
    margin-left: -30%;
}
.head-rightside-fillprofile
{
    margin-top: -10%;
    font-family: "Karla",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    /* or 156% */

    letter-spacing: 21.2px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.social-item
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #8c44aa;
}
.head-social
{
    margin-top: -10px;
    margin-left: -7%;
    position: absolute;
    display: flex;
    flex-direction: column;
}













.about
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FA9749;
}
.about-leftside
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.about-titletext
{
    margin-left: 15.3px;
}
.about-button-label
{
    margin-top: 10px;
    margin-left: 32px;
    font-family: "Uni Neue",sans-serif;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.92;
}
.about-rightside
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.about-title
{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 145px;
}
.about-text
{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    /* or 124% */
    margin-left: 145px;
    margin-top: 65.26px;
    letter-spacing: 0.00126px;

    color: #1D1D1D;
}
.about-textbold
{
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 32px;
    /* identical to box height, or 76% */
    margin-left: 145px;
    margin-top: 55px;
    letter-spacing: 0.00066px;

    color: #1D1D1D;

}
.about-textlow
{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: 0.00054px;

    color: #1D1D1D;
    margin-top: 35px;
    margin-left: 145px;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.about-buttonblock
{
    margin-left: 145px;
    margin-top: 104px;
    display: flex;
    flex-direction: row;
}

.about-button
{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 60px;
    background: #344DF8;
    border-radius: 30px;
    font-family: "Inter",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.0006px;
    color: #FFFFFF;
    transition: 0.6s;
}
.about-button:hover
{
    opacity: .8;
}
.about-rightside-firstline
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-rightside-secondline
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about-rightside-thirdline
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.first-card
{
    width: 286px;
    height: 326px;
    z-index: 3;
    background: #E7E4F3;
    border-radius: 26px;
    transform: rotate(33deg);

    /*margin-right: 81.59px;*/
}
.first-card-title
{
    margin-left: 40px;
    margin-top: 33px;
    font-family: "Uni Neue",sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;
    /* or 120% */

    letter-spacing: -0.5px;

    color: #000000;
}
.first-card-text
{
    z-index: 10;
    margin-left: 40px;
    margin-top: 20px;
    font-family: "Uni Neue",sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    /* or 156% */

    mix-blend-mode: normal;
    opacity: 0.96;

    color: #000000;

}
.first-card-element
{
    margin-right: 0;
}
.second-card
{
    z-index: 11;
    width: 350px;
    height: 400px;
    background: #FDFDFF;
    box-shadow: 70px 80px 150px rgba(0, 0, 0, 0.17);
    border-radius: 32px;
    transform: rotate(9deg);
}
.second-card-emoji
{
    margin-top: 30px;
    margin-left: 23px;
}
.third-card
{
    width: 274px;
    height: 240px;

    background: #E7E4F3;
    border-radius: 27px;
    transform: rotate(75deg);
}
.third-card-title
{
    /* H1 – 40pt */

    font-family: "Uni Neue",sans-serif;
    font-size: 35px;
    line-height: 48px;
    font-weight: bold;
    /* or 120% */

    margin-left: 40px;
    margin-top: 20px;
    letter-spacing: -0.5px;

    color: #000000;
}
.third-card-text
{

    margin-left: 40px;
    margin-top: 20px;
    font-family: "Uni Neue",sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: bold;
    /* or 156% */
    color: #000000;
}
.fofth-card
{
    width: 294px;
    height: 296px;

    background: #DDD9EF;
    border-radius: 21px;
    transform: rotate(-21deg);
}
.fofth-card-title
{
    font-family: "Uni Neue",sans-serif;
    font-size: 35px;
    margin-left: 25px;
    margin-top: 20px;
    line-height: 48px;
    font-weight: bold;
    /* or 120% */

    letter-spacing: -0.5px;

    color: #000000;
}
.fofth-card-text
{
    font-family: "Uni Neue",sans-serif;
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    /* or 156% */


    color: #000000;
}






























.interactive
{
    background-color: orange;
}
.dive
{
    background-color: green;
}
.finaly
{
    background-color: blue;
}